<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.event_type %>
</p>

<P>
  <strong>Cost:</strong>
  <%= @event.cost %>
</P>

<P>
  <strong>Members:</strong>
  <%= @event.members %>
</P>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
